img {
  max-width: 100vw;
  /* min-width: 1000px; */
}

.welcome {
  width: 30vw;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: pink;
  border: 3px dotted white;
  border-radius: 20px;
  box-shadow: 15px 15px 2px 1px rgba(58, 3, 117, 0.401);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: "Cherry Bomb One", system-ui;
  cursor: pointer;
}

.welcome:hover {
  background-color: rgb(195, 148, 156);
}

.popup {
  width: 9vw;
  height: auto;
  background-color: rgb(158, 96, 158);
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;

  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: 1px solid white;
}

.option {
  border: 1px solid white;
  display: flex;
  align-self: stretch;
  justify-content: center;
  padding: 10px;
}

.option:hover {
  background-color: pink;
  cursor: pointer;
}

.leader {
  width: 30vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: pink;
  border: 3px dotted white;
  border-radius: 20px;
  box-shadow: 15px 15px 2px 1px rgba(58, 3, 117, 0.401);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.leadertitle {
  font-size: 30px;
  color: white;
  font-weight: bold;
  font-family: "Cherry Bomb One", system-ui;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
